
/* Your CSS Code here. */
.item{
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}
.green{
	width: 100px;
	height: 100px;
	background-color: green;
}
.blue{
	width: 100px;
	height: 100px;
	background-color: blue;
}
.red{
	width: 100px;
	height: 100px;
	background-color: red;
}
.holder{
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
